@tailwind base;
@tailwind components;
@tailwind utilities;

details summary .icon-close {
  display: none;
}

details[open] summary .icon-close {
  display: inline;
}

details[open] summary .icon-open {
  display: none;
}
